* {
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 24px;
  height: 24px;
}

.cell.snake {
  background-color: green;
}

.cell.apple {
  background-color: red;
}
